@model Order
<br/><br/><br/><br/>
<form asp-action="Checkout" method="post" class="form-horizontal" role="form">
    <h4>Please confirm your purchase</h4>
    <div asp-validation-summary="All" class="text-danger"></div>
    
    <div class="form-group">
            <label asp-for="FullName" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>
    
    <div class="form-group">
        <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="Address" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Complete Order">
        </div>
    </div>
</form>


